{% extends "base/layout_admin.html" %}
{% block title %} Registrar Cliente {% endblock %}

{% block content %}

<h2 class="sect-title">Registrar nuevo cliente</h2>

<a href="{{ url_for('admin.lista_clientes') }}" class="btn-back">◀ Volver</a>

<div class="form-box">

    <form action="{{ url_for('admin.crear_cliente') }}" method="POST" enctype="multipart/form-data">

        <!-- NOMBRE -->
        <label>Nombre Completo</label>
        <input type="text" name="nombre" required placeholder="Nombre y Apellido">

        <!-- CORREO -->
        <label>Correo Electrónico</label>
        <input type="email" name="correo" required placeholder="Correo@dominio.com">

        <!-- CEDULA -->
        <label>Cédula</label>
        <input type="text" name="cedula" required placeholder="123456789">

        <!-- TELEFONO -->
        <label>Teléfono</label>
        <input type="text" name="telefono" required placeholder="+58 412-1234567">

        <!-- ESTADO -->
        <label>Estado Membresía</label>
        <select name="estado_membresia" required>
            <option value="ACTIVO">ACTIVO</option>
            <option value="INACTIVO">INACTIVO</option>
            <option value="PENDIENTE">PENDIENTE</option>
            <option value="SUSPENDIDO">SUSPENDIDO</option>
            <option value="VENCIDO">VENCIDO</option>
        </select>

        <!-- FECHAS -->
        <div class="two-cols">
            <div>
                <label>Fecha de Ingreso</label>
                <input type="date" name="fecha_ingreso" required>
            </div>
            <div>
                <label>Vencimiento</label>
                <input type="date" name="membresia_vencimiento">
            </div>
        </div>

        <!-- BOTONES -->
        <div class="form-btns">
            <button type="submit" class="btn-save">Guardar</button>
            <a href="{{ url_for('admin.lista_clientes') }}" class="btn-cancel">Cancelar</a>
        </div>

    </form>
</div>

{% endblock %}
