{% extends "base/layout_admin.html" %}
{% block title %}Editar Cliente{% endblock %}
{% block content %}
<h2 class="sect-title">Editar Cliente</h2>
<a href="{{ url_for('admin.lista_clientes') }}" class="btn-back">◀ Volver</a>
<div class="form-box">
<form action="{{ url_for('admin.editar_cliente', id=cliente.id) }}"
        method="POST" enctype="multipart/form-data">
    <!-- NOMBRE -->
    <label>Nombre Completo</label>
    <input type="text" name="nombre" required
            value="{{ cliente.nombre }}" placeholder="Nombre y Apellido">
    <!-- CORREO -->
    <label>Correo Electrónico</label>
    <input type="email" name="correo" required
            value="{{ cliente.correo }}" placeholder="correo@dominio.com">
    <!-- CEDULA -->
    <label>Cédula</label>
    <input type="text" name="cedula" required value="{{ cliente.cedula }}">
    <!-- TELEFONO -->
    <label>Teléfono</label>
    <input type="text" name="telefono" required value="{{ cliente.telefono }}">
    <!-- ESTADO -->
    <label>Estado Membresía</label>
    <select name="estado_membresia" required>
        {% for estado in ['ACTIVO','INACTIVO','PENDIENTE','SUSPENDIDO','VENCIDO'] %}
            <option value="{{ estado }}"
                {% if cliente.estado_membresia.value == estado %}selected{% endif %}>
                {{ estado }}
            </option>
        {% endfor %}
    </select>
    <!-- FECHAS -->
    <div class="two-cols">
        <div>
            <label>Fecha de Ingreso</label>
            <input type="date" name="fecha_ingreso" required
                    value="{{ cliente.fecha_ingreso.strftime('%Y-%m-%d') }}">
        </div>  
        <div>
            <label>Vencimiento Membresía</label>
            <input type="date" name="membresia_vencimiento"
                    value="{{ cliente.membresia_vencimiento.strftime('%Y-%m-%d') if cliente.membresia_vencimiento else '' }}">
        </div>
    </div>
    <!-- FOTO -->
    <label>Nueva Foto (opcional)</label>
    <input type="file" name="foto_perfil" accept="image/*">
    <p class="info">No es obligatorio cargar una nueva.</p>
    <div class="text-center" style="margin-top:12px;">
        <p class="cred-subtitle" style="margin-bottom:8px;">Foto Actual</p>
        {% if cliente.foto_perfil %}
            <img src="{{ url_for('static', filename=cliente.foto_perfil) }}"
                    class="rounded shadow-sm"
                    style="width:130px;height:130px;border-radius:14px;object-fit:cover;">
        {% else %}
            <img src="{{ url_for('static', filename='img/placeholder_profile.png') }}"
                    class="rounded shadow-sm"
                    style="width:130px;height:130px;border-radius:14px;object-fit:cover;">
        {% endif %}
    </div>
    <!-- BOTONES -->
    <div class="form-btns">
        <button type="submit" class="btn-save">Guardar</button>
        <a href="{{ url_for('admin.lista_clientes') }}" class="btn-cancel">Cancelar</a>
    </div>
</form>
</div>

{% endblock %}
