{% extends "base/layout_admin.html" %}
{% block title %}Credenciales Generadas{% endblock %}

{% block content %}

<h2 class="sect-title">Credenciales del Cliente</h2>

<div class="cred-container">
    <div class="cred-box">

        <div class="cred-success">✔ Cliente registrado con éxito</div>

        <p class="cred-subtitle">Datos de acceso</p>

        <div class="cred-item">
            Usuario: <span class="cred-user">{{ usuario }}</span>
        </div>

        <div class="cred-item">
            Contraseña Temporal: <span class="cred-pass">{{ password }}</span>
        </div>

        <div class="cred-item">
            Membresía válida hasta: <span class="cred-date">{{ vence }}</span>
        </div>

        <a href="{{ url_for('admin.lista_clientes') }}" class="btn-return">Volver a clientes</a>

    </div>
</div>

{% endblock %}
