{% extends "base/layout_admin.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<h2 class="dash-title">Panel General</h2>

<div class="dash-grid">

    <div class="dash-card">
        <p>Clientes activos</p>
        <h1>{{ clientes_activos }}</h1>
        <a class="dash-btn" href="{{ url_for('admin.lista_clientes') }}">Gestionar</a>
    </div>

    <div class="dash-card">
        <p>Clientes vencidos</p>
        <h1>{{ clientes_vencidos }}</h1>
        <a class="dash-btn" href="{{ url_for('admin.lista_clientes') }}">Gestionar</a>
    </div>

    <div class="dash-card">
        <p>Pagos registrados</p>
        <h1>{{ pagos_registrados }}</h1>
        <a class="dash-btn" href="{{ url_for('pago.lista_pagos') }}">Gestionar</a>
    </div>

    <div class="dash-card">
        <p>Pagos pendientes</p>
        <h1>{{ pagos_pendientes }}</h1>
        <a class="dash-btn" href="{{ url_for('pago.lista_pagos') }}">Gestionar</a>
    </div>

    <div class="dash-card">
        <p>Asistencias hoy</p>
        <h1>{{ asistencias_hoy }}</h1>
        <a class="dash-btn" href="{{ url_for('asistencia.lista_asistencias') }}">Gestionar</a>
    </div>

</div>
{% endblock %}
