{% extends 'base/layout_public.html' %}
{% block title %}Iniciar Sesión - HITO ALL SPORT{% endblock %}
{% block body_class %}auth-bg{% endblock %}
{% block auth_page %}LOGIN AUTH{% endblock %}
{% block content %}
<section class="login-container fadeIn">
    <div class="login-card">
        <h2 class="login-title">Iniciar Sesión</h2>
        <form method="POST" action="{{ url_for('auth.login') }}">
            <label>Correo o Cédula</label>
            <input type="text" name="usuario" placeholder="correo@mail.com / 123456789" required>
            <label>Contraseña</label>
            <input type="password" name="password" placeholder="********" required>
            <div class="login-opts">
                <label class="remember">
                    <input type="checkbox" name="remember_me"> Recordarme
                </label>
                <a href="{{ url_for('auth.recuperar_password') }}" class="recover">¿Olvidaste tu contraseña?</a>
            </div>
            <button class="btn-login-submit">Ingresar</button>
        </form>

    </div>
</section>

{% endblock %}
