{% extends 'base/layout_public.html' %}
{% block title %}Cambiar contraseña inicial{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">

            <div class="card shadow border-0">
                <div class="card-header bg-dark text-white text-center py-3">
                    <h4 class="m-0 fw-bold">🔐 Cambio de Clave Obligatorio</h4>
                </div>

                <div class="card-body px-4 py-4">

                    <p class="text-muted text-center mb-4">
                        Bienvenido <strong>{{ current_user.nombre }}</strong><br>
                        Antes de ingresar por primera vez debes establecer tu contraseña personal.
                    </p>

                    <form method="POST">

                        <!-- Nueva contraseña -->
                        <div class="mb-3">
                            <label class="form-label fw-semibold">Nueva Contraseña</label>
                            <input type="password" name="password" minlength="6" class="form-control" required placeholder="Mínimo 6 caracteres">
                        </div>

                        <button class="btn btn-dark w-100 fw-bold mt-3">Guardar Contraseña</button>
                    </form>

                </div>
            </div>

            <p class="text-center mt-4 small">
                ¿No eres tú?  
                <a href="{{ url_for('auth.logout') }}" class="text-danger">Cerrar sesión</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
