{% extends 'base/layout_public.html' %}
{% block title %}Recuperar Contraseña - HITO ALL SPORT{% endblock %}
{% block body_class %}auth-bg{% endblock %}
{% block auth_page %}RECOVER AUTH{% endblock %}
{% block content %}
<section class="recover-container fadeIn">
    <div class="recover-card">
        <h2 class="recover-title">Recuperar Contraseña</h2>
        <p class="recover-text">
            Ingresa el correo asociado a tu cuenta y te enviaremos un enlace para restablecer tu contraseña.
        </p>
        <!-- FORM -->
        <form method="POST">
            <label for="correo">Correo electrónico</label>
            <input type="email" name="correo" required placeholder="ejemplo@gmail.com">
            <button class="btn-login-submit">Enviar solicitud</button>
        </form>
        <a href="{{ url_for('auth.login') }}" class="recover-back">⟵ Volver al login</a>
    </div>

</section>
{% endblock %}
