{% extends "base/layout_public.html" %}
{% block title %}Recuperar contraseña{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width:450px">

    <h3 class="mb-3 fw-bold text-center">🔑 Recuperar Contraseña</h3>

    <form method="POST" class="card p-4 shadow">

        <label class="form-label fw-semibold">Correo asociado</label>
        <input type="email" name="correo" class="form-control mb-3" required placeholder="ejemplo@gmail.com">

        <button class="btn btn-primary w-100 fw-bold">Enviar solicitud</button>

        <a href="{{ url_for('auth.login') }}" class="btn btn-link mt-3">Volver al login</a>
    </form>
</div>
{% endblock %}
