{% extends 'base/layout_public.html' %}
{% block title %}Restablecer Contraseña - HITO ALL SPORT{% endblock %}
{% block body_class %}auth-bg{% endblock %}
{% block auth_page %}RESET AUTH{% endblock %}
{% block content %}
<section class="reset-container fadeIn">
    <div class="reset-card">
        <h2 class="reset-title">Restablecer Contraseña</h2>
        <form method="POST">
            <label for="password">Nueva contraseña</label>
            <input type="password" name="password" minlength="6" required placeholder="*******">
            <label for="repetir">Repetir contraseña</label>
            <input type="password" name="repetir" minlength="6" required placeholder="*******">
            <button class="btn-reset-submit">Actualizar contraseña</button>
        </form>
        <a href="{{ url_for('auth.login') }}" class="reset-back">⟵ Volver al inicio de sesión</a>
    </div>
</section>

{% endblock %}
