{% extends 'base/layout_public.html' %}
{% block title %}Restablecer Contraseña{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">

            <div class="card shadow-sm border-0">
                <div class="card-header bg-dark text-white text-center">
                    <h4 class="fw-bold m-0">Actualizar Contraseña</h4>
                </div>
                <div class="card-body">

                    <p><strong>Usuario:</strong> {{ usuario.nombre }} ({{ usuario.correo }})</p>

                    <form method="POST">
                        <div class="mb-3">
                            <label class="form-label">Nueva contraseña</label>
                            <input type="password" name="password" class="form-control" required minlength="4">
                        </div>

                        <button class="btn btn-dark w-100 fw-bold">Guardar Contraseña</button>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
